body{
margin:0px auto;
padding:0px;
}
#header{
	background-color:#a3a3a3;
	height:55px;
}
#img1{
	margin-left:100px;
	margin-top:5px; 
	height:50px; 
	width:80px;
}
#btn1{
	margin-left:750px;
}
#btn2{
	margin-right:80px;
}
#btn3{
	float:center;
    margin-left:500px;
    margin-top:200px;
}
#btn4{
    margin-right:300px;
    margin-top:200px;
}


